/* Reset */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --alert-color: #FF5019;
  --bg-color: #F3F3EE;
  --black-color: #000;
  --gray-color: #747981;
  --green-primary: #00B285;
  --green-secondary: #00634a;
  --white-color: #FFF;
}

body {
  box-sizing: border-box;
  background: var(--bg-color);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

table { 
  border-collapse: collapse; 
  width: 100%; 
}

th, 
td { 
  padding: 0.25em; 
  text-align: center; 
}

tbody tr:nth-child(odd) { 
  background: var(--bg-color); 
}

input,
select {
  background: var(--white-color);
  border-radius: 5px;
  border: 1px solid var(--gray-color);
  color: var(--gray-color);
  height: 50px;
  padding: 10px;
  width: 100%;
}

input:focus,
select:focus {
  border: 2px solid var(--green-primary);
  box-shadow: (0 0 5px var(--green-primary));
  outline: none;
}

select {
  appearance: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-position: 95%;
  background-repeat: no-repeat;
}

/* Header */
.cover {
  background: linear-gradient(330deg,#cb356b 0%,#FF3D00 100%);
  box-shadow: 0 6px 25px rgba(0, 0, 0, .2);
  width: 100%;
}

.cover h1 {
  align-items: center;
  color: var(--white-color);
  display: flex;
  font-size: 48px;
  font-weight: 700;
  justify-content: center;
  height: 300px;
  line-height: 2em;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Sections */
.insert-itens {
  margin-top: -50px;
}

.daily-monitoring {
  margin-top: 50px;
}

.form-control {
  background: var(--white-color);
  border-radius: 4px;
  box-shadow: 2px 5px 20px 0px rgba(46, 61, 73, .10);
  height: auto;
  padding: 30px 60px;
  width: 80%;
}

.form-control h2 {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 300;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.input-control {
  display: inline-flex;
  flex-wrap: wrap;
  height: 120px;
  padding-top: 30px;
  width: 100%;
}

.input-control:not(:last-child) {
  margin-right: 20px;
}

.input-control label { 
  font-size: 12px; 
  margin-bottom: 10px; 
}

.table-list {
  background: var(--white-color);
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 50px;
}

.table-list a { 
  color: var(--white-color);
  font-weight: bold;
  text-decoration: none;
}

.table-list table thead tr { 
  background: var(--green-primary);
  color: var(--white-color);
}

.table-list table thead tr th { 
  font-weight: bold;
}

.table-list-data { 
  background: var(--white-color);
  border-radius: 5px;
  margin-top: 16px;
}

.send-form {
  display: flex;
  justify-content: center;
}

/* Buttons */
.btn { 
  border: none;
  cursor: pointer;
  margin: 15px 0;
  transition: all .3s linear;
}

.btn-main {
  background: var(--green-primary);
  border-bottom: 2px solid var(--green-secondary);
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .1);
  color: var(--white-color);
  font-size: 14px;
  height: 50px;
  padding: 1px 55px;
  width: 300px;
}

.btn-main:hover { 
  background-color: var(--green-secondary); 
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .1);
  color: var(--white-color); 
}

.btn-delete {
  background-color: var(--alert-color);
  border-radius: 50%;
  color: var(--white-color);
  outline: none;
  padding: 8px 12px;
}

.btn-delete:hover { 
  opacity: .8;
}

/* Mobile */
@media (max-width: 800px) {
  .form-group {
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .cover h1 {
    font-size: 32px;
  }

  .form-control {
    padding: 30px 15px;
  }
}
